{% extends 'base.html' %}
{% block title %}Crear producto{% endblock %}
{% block content %}
<h2>Crear producto</h2>
<form method="post" class="mt-3">
    {% csrf_token %}
    <div class="row g-3">
        {{ form.non_field_errors }}
        <div class="col-md-6">{{ form.nombre.label_tag }}{{ form.nombre }}</div>
        <div class="col-md-6">{{ form.categoria.label_tag }}{{ form.categoria }}</div>
        <div class="col-12">{{ form.descripcion.label_tag }}{{ form.descripcion }}</div>
        <div class="col-md-4">{{ form.precio.label_tag }}{{ form.precio }}</div>
        <div class="col-md-3">{{ form.peso_kg.label_tag }}{{ form.peso_kg }}</div>
        <div class="col-md-3">{{ form.alto_cm.label_tag }}{{ form.alto_cm }}</div>
        <div class="col-md-3">{{ form.ancho_cm.label_tag }}{{ form.ancho_cm }}</div>
        <div class="col-md-3">{{ form.largo_cm.label_tag }}{{ form.largo_cm }}</div>
        <div class="col-md-4">{{ form.stock.label_tag }}{{ form.stock }}</div>
        <div class="col-md-4">{{ form.etiquetas.label_tag }}{{ form.etiquetas }}</div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-outline-secondary" href="{% url 'lista_productos' %}">Cancelar</a>
    </div>
</form>
{% endblock %}